*{
    margin: 0;
}
.app-container{
    min-height: 100vh;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #3367d6;
    padding:10px;
    width: 100%;
    padding: 15px ;
}
.navbar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 15%;
}
.search-logo-container{
    display: flex;
    align-items: center;
    background-color: #2850a7;
    border: 1px solid #64748b;
    width: 75%;
}
.search{
    margin-right: 30px;
    border-right:1px solid #64748b;
    padding: 10px 20px;
}
.search-history-list{
    margin: 20px 15%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 1px #888888;
}
.search-input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #f8fafc;
    font-size: 18px;
    font-family: 'Roboto';
    width: 100%;
}
::placeholder{
    color: #64748b;
    font-size: 18px;
    font-family: 'Roboto';
}
@media screen and (max-width:576px) {
    .navbar-item{
        margin:0; 
    }
    .search-history-list{
        margin:20px 0; 
    }
}
@media screen and (max-width:992px) {
    .navbar-item{
        margin:0 5%; 
    }
    .search-history-list{
        margin:20px 5%; 
    }
}